body {
    -webkit-font-smoothing: antialiased;
    background: #ff7b00;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 8px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 35px rgb(0,0,0.01);
    cursor: crosshair;
    display: block;
    margin: 150px auto 80px;
    transition: all 200ms ease-in;
}

/* #overlay {
    background-color: white;
    border-radius: 45%;
    height: 50px;
    position: absolute;
    left: 48%;
    width: 50px;
    top: 52%;
    visibility: hidden;
} */

.shake {
    animation: shake .30s;
}

.grow {
    animation: grow 2s;
}

.cheer {
    animation: cheer .4s;
}

.spin {
    animation: spin .800s;
}

/* .ballReset {
    animation: ballReset .2s;
} */


@keyframes shake {
    0% { 
    transform: rotate(2deg);
    } 
    25% {
    transform: rotate(0deg);
    }
    50% {
    transform: rotate(-2deg);
    }
    75% { 
    transform: rotate(2deg);;
    } 
    100% {
    transform: rotate(0deg);
    } 
}

@keyframes grow {
    0% { 
        transform: scale(1);
    } 
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes cheer {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* @keyframes ballReset {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(1);
    }
    75% {
        visibility: visible;
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        visibility: hidden;
    }
} */


#wrapper {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}


#p1Score {
    font-family: Monoton;
    font-size: 50px;
    text-align: left;
    filter: drop-shadow(6px 6px 20px yellow);
    font-weight: bold;
    left: 29%;
    position: absolute;
    font-size: 80px;
}

#p2Score {
    font-family: Monoton;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(6px 6px 20px yellow);
    right: 29%;
    position: absolute;
    font-size: 80px;
    margin-left: 180px;
}


#eyeleft {
    -webkit-transform: translate3d(0,0,0); /*IMPORTANT. See: https://stackoverflow.com/questions/16255634/css3-transition-leaves-a-trail */
    background-color: black;
    border-radius: 45%;
    height: 15px;
    left: 48%;
    top: 110px;
    position: absolute;
    width: 15px;
    transition: all 100ms ease-out;
}

#shiny1 {
    background-color: #fff;
    height: 2px;
    width: 2px;
    position: absolute;
    right: 5px;
    top: 2px;
}

#shiny2 {
    background-color: #fff;
    height: 2px;
    width: 2px;
    position: absolute;
    right: 5px;
    top: 2px;
}

#eyebrowLeft {
    background-color: black;
    height: 1px;
    top: -10px;
    position: absolute;
    transform: skew(0,-20deg);
    width: 10px;
}

#eyeright {
    -webkit-transform: translate3d(0,0,0);
    background-color: black;
    border-radius: 45%;
    height: 15px;
    left: 51%;
    top: 110px;
    position: absolute;
    width: 15px;
    transition: all 100ms ease-out;
}

#eyebrowRight {
    background-color: black;
    height: 1px;
    left: 5px;
    top: -10px;
    position: absolute;
    transform: skew(0,20deg);
    width: 10px;
}

#nose {
    position: absolute;
    width: 0;
    height: 0;
    left: 49.5%;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px 10px 0 8px;
    border-color: black transparent transparent transparent;
    top: 135px;
    transition: all 100ms ease-out;
}

#nose::after {
    content: "";
    background-color: black;
    height: 10px;
    position: absolute;
    width: 1px;
}


#whiskers1 {
    background-color: black;
    height: 1px;
    margin-left: 12px;
    margin-top: -6px;
    transform: skew(0,-5deg);
    width: 15px;
}

#whiskers2 {
    background-color: black;
    height: 2px;
    margin-left: 12px;
    margin-top: 3px;
    width: 17px;
}

#whiskers3 {
    background-color: black;
    height: 1px;
    margin-left: 12px;
    margin-top: 3px;
    transform: skew(0,5deg);
    width: 15px;
}

#whiskers4 {
    background-color: black;
    height: 1px;
    margin-left: -26px;
    margin-top: -1px;
    transform: skew(0,-5deg);
    width: 15px;
}

#whiskers5 {
    background-color: black;
    height: 2px;
    margin-left: -28px;
    margin-top: -6px;
    width: 17px;
}

#whiskers6 {
    background-color: black;
    height: 1px;
    margin-left: -26px;
    margin-top: -6px;
    transform: skew(0,5deg);
    width: 15px;
}

#umpire {
    background-color: #92c9e0;
    border: 8px solid black;
    border-radius: 25px;
    height: 80px;
    margin: 80px auto -120px;
    position: block;
    width: 100px;
    filter: drop-shadow(2px 2px 5px #555);
}

/*Ear right*/
#umpire::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -30px;
    border-style: solid;
    border-width: 0 25px 38px 25px;
    border-color: transparent transparent #92c9e0 transparent;
    transform: skew(0, 25deg);
}

/*Ear left*/
#umpire::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -22px;
    border-style: solid;
    border-width: 0 25px 42px 25px;
    border-color: transparent transparent #92c9e0 transparent;
    transform: skew(0, -25deg);
}

@media (max-width: 1100px) {
    #p1Score {
        left: 22%;
    }

    #p2Score {
        right: 22%;
    }
}


@media (min-width: 1400px) {
    #p1Score {
        left: 32%;
    }

    #p2Score {
        right: 32%;
    }
}

@media (min-width: 1900px) {
    #p1Score {
        left: 35%;
    }

    #p2Score {
        right: 35%;
    }
}