body {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    background: #ff7b00;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 8px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 35px rgb(0,0,0.01);
    cursor: crosshair;
    display: block;
    margin: 200px auto 80px;
}

#particlesY {
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    top: 100px;
    visibility: hidden;
    /* animation: ricoTop .25s; */
}

#part1Y {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    transform: rotate(-30deg);
}

#part2Y {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    margin-bottom: 2px;
}

#part3Y {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    transform: rotate(30deg);
}



#particlesYb {
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    top: 300px;
    left: 100px;
    /* visibility: hidden; */
    /* animation: ricoTop .25s; */
}


#part1Yb {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    transform: rotate(25deg);
}

#part2Yb {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    margin-bottom: -2px;
}

#part3Yb {
    /* position: absolute; */
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 2px;
    transform: rotate(-25deg);
}

#ricoY {
    background-color: black;
    height: 10px;
    position: absolute;
    top: 914px; /*364-914*/
    width: 30px;
    visibility: hidden;
}

#ricoX {
    position: absolute;
    background-color: red;
    height: 30px;
    width: 10px;
    visibility: hidden;
}

.shake {
    animation: shake .30s;
}

.shakeWith {
    animation: shakeWith .30s;
}

.grow {
    animation: grow 2s;
}

.cheer {
    animation: cheer .4s;
}

.spin {
    animation: spin .800s;
}

.popin {
    animation: popin 1.25s infinite;
}

.wag {
    animation: wag 2.5s infinite;
}

.wag2 {
    animation: wag2 2.5s infinite;
}

.wellUp {
    animation: wellUp 1s;
}

.ricoTop {
    animation: ricoTop .5s;
}

.ricoBottom {
    animation: ricoBottom .5s;
}

@keyframes shake {
    0% { 
      transform: rotate(2deg);
    } 
    25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    75% { 
      transform: rotate(2deg);;
    } 
    100% {
      transform: rotate(0deg);
    } 
}

@keyframes shakeWith {
    0% { 
      transform: rotate(2deg);
      width: 10px;
    } 
    25% {
      transform: rotate(0deg);
      width: 20px;
    }
    50% {
      width: 30px;
      transform: rotate(-2deg);
    }
    75% { 
      width: 40px;
      transform: rotate(2deg);;
    } 
    100% {
      width: 50px;
      transform: rotate(0deg);
    } 
}

@keyframes grow {
    0% { 
      transform: scale(1);
    } 
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes cheer {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

@keyframes popin {
    0% {
      font-size: 160px;
      opacity: .7;
      text-shadow: 1px 1px 1px black;
      filter: drop-shadow(2px 2px 2px black);
    }
    50% {
      font-size: 165px;
      opacity: 1;
      text-shadow: 3px 3px 3px black;
      filter: drop-shadow(5px 1px 5px black);
    }
    100% {
      font-size: 160px;
      opacity: .7;
      text-shadow: 1px 1px 1px black;
      filter: drop-shadow(2px 2px 2px black);
    }
  }



  /* @keyframes popin {
    0% {
      font-size: 160px;
      opacity: .7;
      text-shadow: 1px 1px 1px black;
      filter: drop-shadow(2px 2px 2px black);
    }
    15% {
      font-size: 165px;
      opacity: 1;
      text-shadow: 5px 5px 10px black;
      filter: drop-shadow(10px 5px 10px black);

    }
    100% {
      font-size: 160px;
      opacity: .7;
      text-shadow: 1px 1px 1px black;
      filter: drop-shadow(2px 2px 2px black);

    }
  } */



  @keyframes wag {
    0% {
      transform: rotate(-15deg);
      top: 163px;
      opacity: 1;
    }
    70% {
      transform: rotate(15deg);
      top: 166px;
      opacity: .8;

    }
    100% {
      transform: rotate(-15deg);
      top: 163px;
      opacity: 1;
    }
  }

  @keyframes wag2 {
    0% {
      transform: rotate(15deg);
      top: 163px;
      opacity: 1;
    }
    70% {
      transform: rotate(-15deg);
      top: 166px;
      opacity: .8;
    }
    100% {
      transform: rotate(15deg);
      top: 163px;
      opacity: 1;
    }
}

@keyframes wellUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes leftWins {
    0% {
        height: 5px;
        width: 5px;
    }
    100% {
        height: 800px;
        width: 800px;
        margin-left: -250px;
        margin-top: -250px;
    }
}

@keyframes ricoTop {
    0% {
        /* margin-bottom: 0px; */
        opacity: 0;
    }
    15% {
        opacity: 1;
        /* margin-bottom: 15px; */
    }
    100% {
        /* margin-bottom: 20px; */
        opacity: 0;
        top: 300px;
    }
}

@keyframes ricoBottom {
    0% {
        /* margin-bottom: 0px; */
        opacity: 0;
    }
    15% {
        opacity: 1;
        /* margin-bottom: 15px; */
    }
    100% {
        /* margin-bottom: 20px; */
        opacity: 0;
        top: 96%;
    }
}

/* #circle {
    position: absolute;
    background-color: yellow;
    height: 5px;
    width: 5px;
    left: 50%;
    top: 600px;
    border-radius: 50%;
    z-index: 10;
    animation: leftWins 2s;
    animation-fill-mode: forwards;
} */


#pong {
    text-align: center;
    font-family: "Modak";
    font-size: 160px;
    margin-bottom: -120px;
    margin-top: -40px;
    height: 300px;
}

#pp {
    color: yellow;
    display: inline-block;
    opacity: 1;
    transform: rotate(-20deg);
    text-shadow: 2px 2px 2px black;
}
  
#oo {
    color: salmon;
    display: inline-block;
    opacity: 1;
    vertical-align: 25px;
    transform: rotate(-5deg);
    text-shadow: 2px 2px 2px black;
}
  
#nn {
    color: lightskyblue;
    display: inline-block;
    opacity: 1;
    vertical-align: 30px;
    transform: rotate(1deg);
    text-shadow: 2px 2px 2px black;
}
  
  #gg {
    color: limegreen;
    display: inline-block;
    opacity: 1;
    transform: rotate(15deg);
    vertical-align: 15px;
    text-shadow: 2px 2px 2px black;
}
  
  #ex {
    color: white;
    display: inline-block;
    opacity: 1;
    transform: rotate(25deg);
    vertical-align: -20px;
    text-shadow: 2px 2px 2px black;
}

#p1Score {
    font-family: Monoton;
    font-size: 50px;
    text-align: left;
    filter: drop-shadow(6px 6px 20px yellow);
    font-weight: bold;
    /* left: 35%; */
    left: 33%;
    margin-top: 30px;
    position: absolute;
    font-size: 80px;
}

#p2Score {
    font-family: Monoton;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(6px 6px 20px yellow);
    right: 33.5%;
    position: absolute;
    font-size: 80px;
    margin-top: 30px;
}

#eyeleft {
    -webkit-transform: translate3d(0,0,0);
    background-color: black;
    border-radius: 45%;
    height: 15px;
    left: 50%;
    margin-left: -30px;
    top: 240px;
    position: absolute;
    width: 15px;
    transition: all 100ms ease-out;
    z-index: 12;
}

#eyeright {
    -webkit-transform: translate3d(0,0,0); /*Important. See: https://stackoverflow.com/questions/16255634/css3-transition-leaves-a-trail */
    background-color: black;
    border-radius: 45%;
    height: 15px;
    left: 50%;
    margin-left: 10px;
    top: 240px;
    position: absolute;
    width: 15px;
    transition: all 100ms ease-out;
    z-index: 9;
}

#shiny1 {
    background-color: #fff;
    height: 2px;
    width: 2px;
    position: absolute;
    right: 5px;
    top: 2px;
}

#tearLeft {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 11px;
    right: 2px;
    top: 13px;
    visibility: hidden;
}

#tearRight {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    height: 2px;
    width: 11px;
    right: 2px;
    top: 13px;
    visibility: hidden;
}


#shiny2 {
    background-color: #fff;
    height: 2px;
    width: 2px;
    position: absolute;
    right: 5px;
    top: 2px;
}

#eyebrowLeft {
    background-color: black;
    height: 1px;
    top: -10px;
    position: absolute;
    transform: skew(0,-20deg);
    width: 10px;
}

#eyebrowRight {
    background-color: black;
    height: 1px;
    left: 5px;
    top: -10px;
    position: absolute;
    transform: skew(0,20deg);
    width: 10px;
}

#nose {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px 10px 0 8px;
    border-color: black transparent transparent transparent;
    top: 265px;
    transition: all 100ms ease-out;
    z-index: 9;
}

#nose::after {
    content: "";
    background-color: #999;
    height: 5px;
    position: absolute;
    margin-right: 2px;
    margin-top: 5px;
    width: 1px;
    z-index: 10;
}


#whiskers1 {
    background-color: #555;
    height: 1px;
    margin-left: 12px;
    margin-top: -6px;
    transform: skew(0,-5deg);
    width: 15px;
}

#whiskers2 {
    background-color: #555;
    height: 1px;
    margin-left: 12px;
    margin-top: 3px;
    width: 17px;
}

#whiskers3 {
    background-color: #555;
    height: 1px;
    margin-left: 12px;
    margin-top: 3px;
    transform: skew(0,5deg);
    width: 15px;
}

#whiskers4 {
    background-color: #555;
    height: 1px;
    margin-left: -26px;
    margin-top: -1px;
    transform: skew(0,-5deg);
    width: 15px;
}

#whiskers5 {
    background-color: #555;
    height: 1px;
    margin-left: -28px;
    margin-top: -5px;
    width: 17px;
}

#whiskers6 {
    background-color: #555;
    height: 1px;
    margin-left: -26px;
    margin-top: -5px;
    transform: skew(0,5deg);
    width: 15px;
}

#umpire {
    position: absolute;
    background-color: #92c9e0;
    border: 8px solid black;
    border-radius: 25px;
    height: 80px;
    margin-top: 55px;
    left: 50%;
    margin-left: -60px;
    width: 100px;
    filter: drop-shadow(2px 2px 5px black);
    z-index: 2;
}

#umpShirt {
    position: absolute;
    background-image: repeating-linear-gradient(90deg, white, white 14px, black 14px, black 28px);
    border: 8px solid black;
    border-radius: 25px;
    height: 80px;
    left: 50%;
    margin-left: -72px;
    top: 230px;
    width: 125px;
    filter: drop-shadow(2px 2px 5px #555);
    z-index: 1;
}

#tail {
    position: absolute;
    background-color: #92c9e0; 
    border: 8px solid black;
    border-radius: 40%;
    height: 80px;
    width: 12px;
    left: 50%;
    margin-left: -12px;
    opacity: .9;
    top: 165px;
    transition: transform .20s ease-out;
    filter: drop-shadow(1px 1px 2px #555);
    z-index: 0;
}

#leftFoot {
    position: absolute;
    background-color: #92c9e0; 
    border: 8px solid black;
    border-radius: 45% 45% 25% 25%;
    left: 50%;
    margin-left: -50px;
    top: 306px;
    height: 15px;
    width: 20px;
    z-index: 1;
}

#rightFoot {
    position: absolute;
    background-color: #92c9e0; 
    border: 8px solid black;
    border-radius: 45% 45% 25% 25%;
    left: 50%;
    margin-left: 10px;
    top: 306px;
    height: 15px;
    width: 20px;
    z-index: 1;
}

#rightear {
    height: 0;
    width: 0;
    position: relative;
    top: -58px;
    left: 51px;
    border-style: solid;
    border-width: 0 25px 38px 25px;
    border-color: transparent transparent #92c9e0 transparent;
    transform: skew(0, 25deg);
}

#leftear {
    height: 0;
    width: 0;
    position: relative;
    top: -25px;
    left: -1px;
    border-style: solid;
    border-width: 0 25px 38px 25px;
    border-color: transparent transparent #92c9e0 transparent;
    transform: skew(0, -25deg);
}

#setWins {
    color: yellow;
    font-family: "Modak";
    font-size: 60px;
    position: absolute;
    top: 500px;
    left: 50%;
    margin-left: -195px;
    visibility: hidden;
    z-index: 15;
    text-shadow: 2px 2px 5px black;
}

#setWins span {
    color: white;
    font-family: "Monoton";
    font-weight: 900;
}

.triangle {
    height: 50px;
    width: 50px;
    color: yellow;
}

#mWins {
    color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 470px;
    margin-left: -25px;
    transform: rotate(45deg);
    z-index: 10;
    filter: drop-shadow(3px -1px 2px black);
}

#lWins {
    color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin-left: -25px;
    top: 570px;
    transform: rotate(-135deg);
    z-index: 15;
    filter: drop-shadow(-2px -2px 2px black);
}

#mWins1 {
    color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 670px;
    margin-left: -25px;
    transform: rotate(45deg);
    z-index: 10;
    filter: drop-shadow(3px -1px 2px black);
    visibility: hidden;
}

#lWins1 {
    color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin-left: -25px;
    top: 770px;
    transform: rotate(-135deg);
    z-index: 15;
    filter: drop-shadow(-2px -2px 2px black);
    visibility: hidden;
}

#clickPlay {
    color: salmon;
    font-family: "Modak";
    font-size: 60px;
    position: absolute;
    top: 700px;
    left: 50%;
    margin-left: -170px;
    visibility: hidden;
    text-shadow: 2px 2px 5px black;
}


@media (max-width: 1100px) {
    #p1Score {
        left: 30%;
    }

    #p2Score {
        right: 30%;
    }
}

@media (min-width: 1300px) {
    #p1Score {
        left: 36%;
    }

    #p2Score {
        right: 36%;
    }
}

@media (min-width: 1600px) {
    #p1Score {
        left: 39%;
    }

    #p2Score {
        right: 39%;
    }

@media (min-width: 2000px) {
    #p1Score {
        left: 41%;
    }

    #p2Score {
        right: 41%;
    }
}
}